body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212529;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main-nav-container {
  margin-left: 25px;
}
.main-nav {
  height: 50px;
}
.main-nav-link {
  text-decoration: none;
  padding: 5px 15px;
  color: #000;
  font-family: "Montserrat", serif;
  text-transform: uppercase;
}
.main-nav-link:hover {
  background: #ddd;
  text-decoration: none;
  color: inherit;
}
.side-menu-right {
  position: absolute;
  margin-left: -10px;
  height: 90vh;
  background: white;
  width: 320px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.logo-Font {
  font-family: "Days One", sans-serif;
  color: #3e304e;
  font-size: 30pt;
  left: 15px;
  width: auto;
}

#tray {
  border-right: 2px solid #d9dadb;
}

.tray-products > img {
  border-radius: 3px;
  margin-bottom: 6px;
  cursor: pointer;
  width: 34px;
  height: 34px;
}

#tray .section-1 {
  padding: 5px;
}

#tray .section-2 {
  padding: 5px;
}

#drawingToolbar {
  display: flex;
  border-right: 2px solid #d9dadb;
  padding: 10px;
}
.drawingToolbar-item.dropdown {
  margin: 3px;
  margin-bottom: 6px;
}
.alert-item {
  margin-bottom: 10px;
  border-left: 5px solid gray;
  padding-left: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  min-width: 250px;
  margin-left: 45px !important;
  z-index: 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.dropdown-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  white-space: nowrap;
  padding: 10px;
  font-size: 14px;
  background-color: #fff;
  cursor: default;
  transition-property: none;
  color: #4c525e;
  transition: color 60ms ease;
  -webkit-transition: color 60ms ease;
  -moz-transition: color 60ms ease;
  -ms-transition: color 60ms ease;
  -o-transition: color 60ms ease;
}

.dropdown-item svg {
  display: inline-block;
}

.main-contant {
  margin-left: 115px;
}

.alert-item.font {
  font-size: 11pt;
  color: #829391;
}
.img-navbar-center {
  width: 300px;
}
.ml-15 {
  margin-left: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.product-name-tm {
  color: #7c7c7c;
  font-size: 12pt;
  right: -15px;
  top: 10px;
  position: absolute;
}
.right-side-row {
  margin-left: 4px;
}
.main-content-row {
  margin-left: -2%;
}
.left-side-row {
  height: 90vh;
  max-width: 13%;
}

.navBar-dropdown-btn {
  display: block;
  text-decoration: none;
  padding: 5px 15px;
  color: #000;
  font-family: "Montserrat";
}
.navBar-dropdown-btn:hover {
  background: #ddd;
}
.navBar-dropdown-item {
  background: #ddd !important;
  color: #000 !important;
  width: 320px !important;
  padding: 8px 15px !important;
  font-family: "Montserrat" !important;
  font-size: 11pt !important;
}
.navBar-dropdown-item:hover {
  background-color: #00af9b !important;
  color: #000 !important;
}

/* ::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
} */

/* Use a media query to add a breakpoint at 768px For mobile phones: */
@media only screen and (max-width: 768px) {
  .logo-Font {
    font-size: 20pt;
  }
  .dashboard-img {
    width: 100%;
  }

  .side-menu-right {
    position: relative;
    width: 100%;
    margin-left: 10px;
    height: 40vh;
  }
  .main-content-row {
    margin-left: 0;
  }
  .left-side-row {
    height: 60vh;
    max-width: inherit;
  }
  .right-side-row {
    margin-left: 0px;
  }

  .app-banner {
    display: none !important;
  }
  #tray {
    display: none !important;
  }

  .alert-btn {
    display: none !important;
  }
  .font-username {
    font-size: 9px;
  }
  .btn-menu-toggle {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 99;
  }

  .navbar-collapse {
    flex-basis: auto;
    flex-grow: inherit;
  }
  .main-contant {
    margin-left: 55px;
  }
  .right-side-header {
    display: none;
  }
  .left-side-header {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    padding-left: 0;
    margin-left: -70px;
  }
  .header-logo {
    margin-top: 40px;
    width: 45px;
    height: 35px;
    margin-left: 7px !important;
  }

  .sm-con {
    margin-top: 2px !important;
  }
}
